<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="icom5016.modstore.activities"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ModStoreTheme" >
        <activity
            android:name="icom5016.modstore.activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="icom5016.modstore.activities.SearchActivity"
            android:parentActivityName="icom5016.modstore.activities.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.MainActivity" />
        </activity>
        <activity
            android:name="icom5016.modstore.activities.SettingsActivity"
            android:parentActivityName="icom5016.modstore.activities.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstapp.MainActivity" />
        </activity>
        <activity
            android:name="icom5016.modstore.activities.LogInRegisterActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="icom5016.modstore.activities.AboutActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="icom5016.modstore.activities.AdminActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="icom5016.modstore.activities.ForgotActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="icom5016.modstore.activities.MyOrdersActivity"
            android:label="@string/title_activity_my_orders"
            android:parentActivityName="icom5016.modstore.activities.MainInterfaceActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="icom5016.modstore.activities.MyOrderDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="icom5016.modstore.activities.ProductViewerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="icom5016.modstore.activities.SellingViewerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="icom5016.modstore.activities.ProductSellEditActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>